<!--INICIO DO CONTEUDO-->
<section class="content-header">
</section>

<!-- Validators -->
<!-- Required - [Pattern - Regex] - [MinLength - MaxLength]  -->
<!-- Classes CSS - [NG-VALID|NG-INVALID] {valido}  -  [NG-PRISTINE|NG-DIRTY] {digitado} - [NG-UNTOUCHED|NG-TOUCHED] {tocado}  -->
<section class="content">
  <section class="invoice">
    <!-- {{form.value | json}}
    {{form.valid}} -->
    <!-- desabilita os validação dos browser  -->
    <!-- para ser usado precisa de ser importado no app.module -->
    <!-- <form #form="ngForm" novalidate> -->
    <form [formGroup]="orderForm" novalidate>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-9">
          <p class="lead">Seus Dados:</p>
        </div>
        <div class="col-xs-12 col-sm-3" >
            <span *ngIf="orderForm.hasError('emailsNotMatch')" class="help-block pull-right has-error-block"><i class="fa fa-check"></i>Email não confere</span>
        </div>
        <div class="col-sm-6 col-xs-12">
          <mt-input-container errorMessage="Campo obrigatório e com 5 caracteres" label="Endereço">
            <!-- <input class="form-control" name="name" placeholder="Nome" ngModel required minlength="5"> -->
            <input class="form-control" formControlName="name" placeholder="Nome">
          </mt-input-container>
        </div>
        <div class="col-sm-3 col-xs-6">
          <mt-input-container errorMessage="Email inválido" label="Email">
            <!-- <input class="form-control" placeholder="Email" name="email" ngModel> -->
            <input class="form-control" placeholder="Email" formControlName="email">
          </mt-input-container>
        </div>
        <div class="col-sm-3 col-xs-6">
          <mt-input-container errorMessage="Email inválido" label="Email">
            <!-- <input class="form-control" placeholder="Confirmação do Email" name="emailConfirmation" ngModel> -->
            <input class="form-control" placeholder="Confirmação do Email" formControlName="emailConfirmation">
          </mt-input-container>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Endereço de Entrega:</p>
        </div>
        <div class="col-sm-6 col-xs-6">
          <mt-input-container errorMessage="Campo obrigatório e com 5 caracteres" label="Endereço">
            <!-- <input class="form-control" name="address" ngModel required minlength="5"> -->
            <input class="form-control" formControlName="address">
          </mt-input-container>
        </div>

        <div class="col-sm-3 col-xs-6">
          <mt-input-container errorMessage="Obrigatório e somente número">
            <!-- <input class="form-control" pattern="^[0-9]*$" placeholder="Número" name="number" ngModel required> -->
            <input class="form-control" pattern="^[0-9]*$" placeholder="Número" formControlName="number">
          </mt-input-container>
        </div>
        <div class="col-sm-3 col-xs-6">
          <mt-input-container>
            <input type="text" formControlName="optionalAddress" autocomplete="off" class="form-control"
              id="inputSuccess" placeholder="Complemento">
          </mt-input-container>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Itens do Pedido:</p>
        </div>
        <mt-order-itens [itens]="cartItem()" (increaseQty)=increaseQty($event) (decreaseQty)=decreaseQty($event)
          (remove)=remove($event)></mt-order-itens>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Formas de Pagamento:</p>

          <div class="form-group">
            <mt-radio required [options]="paymentOptions" formControlName="paymentOptions"></mt-radio>
          </div>

        </div>
        <!-- /.col -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Frete e Total:</p>
          <mt-delivery-costs [itemsValue]="itemsValue()" [delivery]="delivery"></mt-delivery-costs>

        </div>
        <!-- /.col -->
      </div>

    </form>

    <div class="row">
      <div class="col-xs-12">
        <!-- <button (click)="checkOrder(form.value)" href="order-summary.html"
          [disabled]="!form.valid || cartItem().length === 0" class="btn btn-success pull-right"><i
            class="fa fa-credit-card"></i> Concluir Pedido
        </button> -->
        <button (click)="checkOrder(orderForm.value)" href="order-summary.html"
          [disabled]="!orderForm.valid || cartItem().length === 0" class="btn btn-success pull-right"><i
            class="fa fa-credit-card"></i> Concluir Pedido
        </button>
      </div>
    </div>

  </section>
</section>
<!-- FIM DO CONTEUDO-->