
<!-- <div *ngFor="let i of itens" > {{i.menuItem.id}}</div> -->

<div class="col-xs-12" *ngIf="itens.length === 0" >
  <p>
    Não há itens no carrinho. Que tal começar por <a [routerLink]="['/restaurants']">aqui.</a> 
  </p>

</div>
<div *ngIf="itens.length > 0" class="col-xs-12 table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="text-center">Quantidade</th>
        <th>Item</th>
        <th>Descrição</th>
        <th class="text-right">Subtotal</th>
        <th class="text-right"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of itens">
        <td class="text-center">
          <a (click)="emitDecreaseQty(item)" class="btn btn-sm"><i class="fa fa-minus"></i></a>
          {{item.quantity}}
          <a (click)="emitIncreaseQty(item)" class="btn btn-sm"><i class="fa fa-plus"></i></a>
        </td>
        <td>{{item.name}}</td>

        <td>{{item.menuItem.description}}</td>
        <td class="text-right">{{item.value() | currency: 'BRL': true}}</td>
        <td class="text-right">
          <a (click)="emitRemove(item)" class="btn btn-sm danger"><i class="fa fa-remove"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>