<!-- INíCIO do CONTEÚDO -->
<section class="content-header">
    <h1>
        Todos os Restaurantes
        <a (click)="toggleSearch()" class="search-link pull-right"> <i class="fa fa-search"></i> </a>
    </h1>
    <!--barra de busca -->
    <div class="row">
        <div class="col-xs-12 search-bar" [@toggleSearch]="serachBarState">
            <form [formGroup]="searchForm">
                <div class="form-group">
                    <input type="text" formControlName="searchControl" class="form-control" />
                </div>
            </form>
        </div>
    </div>


</section>

<section class="content">
    <div class="row">
        <div *ngFor="let restaurant of restaurants" class="col-sm-6 col-xs-12">
            <mt-restaurant [restaurant]="restaurant"></mt-restaurant>
        </div>
    </div>
</section>

<!-- FIM  do CONTEÚDO -->