
    <div class="form-group" [class.has-success]="hasSuccess()"
    [class.has-error]="hasError()" >
      <label class="control-label sr-only" for="inputSuccess"><i class="fa fa-check"></i>{{label}}</label>
      <!-- Content Projection -->
      <!-- espaço que vai entrar um conteúdo -->
      <!-- não temos mais acesso ao input text -->
      <!-- é um filho -->
      <ng-content></ng-content>
      <!-- <input name="addres" minlength="5" #input="ngModel" autocomplete="off" required ngModel type="text"
        class="form-control" id="inputSuccess" placeholder="Endereço"> -->
        <span *ngIf="hasSuccess()" class="help-block"><i class="fa fa-check"></i> Ok</span>
        <span *ngIf="hasError()"  class="help-block"><i class="fa fa-remove"></i>{{errorMessage}}</span>
    </div>